%table{:cellpadding => "0", :cellspacing => "0", :style => "width:100%"}
  %tbody
    %tr
      %td
        %a{:href => "http://shobiz.ascratech.com/", :target => "_blank"}
          %img.CToWUd{:alt => "Logo", :src => "http://shobiz.ascratech.com/assets/shobizlogo.png", :style => "width:100%"}
%div{:style => "margin:0 auto;float:left;width:99.4%;background-color:#fff"}
  %div{:style => "padding:15px 30px;color:#222"}
    %p
      Hi #{@licensee.first_name.titleize},
    %p
      There is a request to create mobile application preview code "#{@mobile_application.preview_code}" from the licensee <Email id of the licensee>
    %p
      Regards,
      %br
        Team Shobiz