%table{:cellpadding => "0", :cellspacing => "0", :style => "width:100%"}
  %tbody
    %tr
      %td
        %a{:href => "http://shobiz.ascratech.com/", :target => "_blank"}
          %img.CToWUd{:alt => "Logo", :src => "http://shobiz.ascratech.com/assets/shobizlogo.png", :style => "width:100%"}
%div{:style => "margin:0 auto;float:left;width:99.4%;background-color:#fff"}
  %div{:style => "padding:15px 30px;color:#222"}
    %p
      Hi #{@invitee.name_of_the_invitee.titleize},
    %p
      Welcome to Shobiz. We are very excited to have you on board with us.Your License Has Been Approved your email is #{@invitee.email} and your password is => #{@invitee.password}
    Log in right now, create your profile and share it with the world so as to meet thousands of new prospective clients everyday for FREE. Update your profile regularly to find maximum business leads in your inbox everyday.
    %p
      %a{:href => "http://shobiz.ascratech.com/users/sign_in", :style => "color:#f15a22", :target => "_blank"} Click Here
      to go to Shobiz.
    %p
      And don't forget to change your password after you login with these credentials
    %p
      Thank you again for registering with us.
    %p
      Regards,
      %br
        Team Shobiz