@charset "utf-8";
/* CSS Document */
@import url(../fonts.css);
body{ font-family: 'Conv_Ubuntu-R';  transition: all 0.5s ease;}
.herder{ width:100%; height:85px; background:rgba(0,0,0,0.63); position:fixed; z-index:9999;
	/* opacity: 0.4;
    filter: alpha(opacity=40); For IE8 and earlier */
	padding-bottom:1%;
	}
.herder .login_wrap{ margin-bottom: 5px; z-index: 99999; position: absolute; right: 20px;}
.herder .login_wrap a{ font-size:14px; font-family: 'Conv_Ubuntu-R'; color:#FFFFFF; letter-spacing:1px;}
.herder .login_wrap a:hover{ color:#ef5b47; transition: all 0.5s ease; text-decoration:none;}
.navigation_wrap{ margin-top:10px; font-family: 'Conv_Ubuntu-L'; letter-spacing:1px; float:right; width:100%; position:relative;}
.navigation_wrap a.requestDemo{ color:#FFFFFF; text-decoration:none; padding:5px 12px; background:#ef5b47; font-size:15px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.navigation_wrap .requestDemo a:hover{
	background:#000000; color:#00aebb;
	transition: all 0.5s ease;
	}
	
/* XXXXXXXXXXXXXXXXXXXXXXXXXXX  */

.navigation_wrap .requestDemo1{ position:absolute; right:0px; z-index:9999; top:10px; display:none;}
.navigation_wrap .requestDemo1 a{ color:#ef5b47; text-decoration:none; /*padding:5px 12px;*/ font-size:14px; font-weight:bold;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.navigation_wrap .requestDemo1 a:hover{
	background:#000000; color:#00aebb;
	transition: all 0.5s ease;
	}
	
.login{ display:none !important;}	
.navbar-default .navbar-toggle{ border:inherit;}
	
@media all and ( max-width:800px){
	.herder{ padding-bottom:5px; background:rgba(0,0,0,0.45);}
	.navigation_wrap{ margin-top:0px;}
	.navigation_wrap .navigation{ width:100%;}
	
	}
@media all and ( max-width:767px){
	.navigation_wrap .requestDemo1{ margin-bottom:15px; display:block;}
	.navigation_wrap .requestDemo1 a{ /*padding:5px 10px;*/ font-size:13px;}
	.navigation_wrap .requestDemo{ display:none;}
	.login_wrap{ display:none;}
	.login{ display:block !important;}
}	
	
/* xxxxxxxxxxxxxxxxxxxxx Animation XXXXXXXXXXXXXXXXXXXXXXXXX 
.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;	
      animation-duration: 1s;	
      -webkit-animation-duration: 1s;
      visibility: visible;			
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
*/


#product_wrap{ height:100%; background:#FFFFFF;}
@media all and ( max-width:1023px){
#product_wrap{ height:auto;}
}
#product_wrap h2{ font-size:22px; font-family: 'Conv_Ubuntu-B'; letter-spacing:3px; color:#00aebb; padding:7% 0px 0% 0px; width:150px;}
#product_wrap h3{ font-size:44px; color:#00aebb; font-family: 'Conv_Ubuntu-L'; margin-top:0px; }
@media all and ( max-width:1200px){
#product_wrap h3{ font-size:40px;}
}
#product_wrap  .listApps{ margin:20px 0px 16px; font-size:20px;}
#product_wrap  .listApps ul{ margin:0px; padding:0px;}
#product_wrap  .listApps ul li{ background:url(../images/arr.png) no-repeat left; padding-left:26px; color:#00aebb; margin-bottom:6px; font-family: 'Conv_Ubuntu-R'; font-size:21px;}
.know_more{float: left;
    margin-top: 20px;}
.know_more a{ background:#ef5b47; text-decoration:none; color:#FFFFFF; letter-spacing:1px; padding:10px 24px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
} 

.know_more a:hover{background:#000000; transition: all 0.5s ease;}
#product_wrap p{ font-size:18px; line-height:25px; font-family: 'Conv_Ubuntu-R';}

@media all and (max-width:800px){
#product_wrap h2{ font-size:18px; padding: 18% 0px 1% 0px;}	
#product_wrap h3{ font-size:30px;}
#product_wrap  .listApps ul li{ font-size:16px;}
#product_wrap p{ font-size:14px; line-height:20px;}
}

@media all and (max-width:480px){
	#product_wrap h2{ padding: 26% 0px 1% 0px;}
}

.productAppwrp{ width:80%;}
.circleImg{ margin:20px 0px; text-align:center;}
.circleImg ul{ margin:0px; padding:0px; margin-left:-2%; margin-right:-2%;}
.circleImg ul li{ margin-left:2%; margin-right:2%; float:left;}
.circleImg .margintop{ margin-top:-11px;}
.circleImg .marginbottom{ margin-top:3px;}
.mobileImg{ width:80%; text-align:center; margin:0 auto; margin-bottom:20px; margin-top:-12px;}
@media all and (max-width:1100px){
.productAppwrp{ width:100%;}
}


@media all and (max-width:800px){
	.productAppwrp{ width:100%;}
	.circleImg ul li{ float:none; display:inline-block;}
	.circleImg .margintop{ margin-top:0px;}
	.circleImg .marginbottom{ margin-bottom:0px;}
	.mobileImg{ width:58%;}
	}

@media all and (max-width:480px){
	.circleImg {
	width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
	}
}
#how_it_work{ width:100%; height:100%; background:url(../images/how_it_work.jpg) no-repeat center; background-size:cover;}
@media all and ( max-width:1023px){
#how_it_work{ height:auto;}
}
#how_it_work h2{ font-size:22px; font-family: 'Conv_Ubuntu-R'; letter-spacing:3px; color:#FFFFFF; padding:8% 0px 2% 0px;}
#how_it_work h3{ font-size:40px; color:#FFFFFF; font-family: 'Conv_Ubuntu-L'; margin-top:0px;  margin-bottom:60px;}
#how_it_work p{ font-size:20px; line-height:30px; color:#FFFFFF; margin-bottom:30px; font-family: 'Conv_Ubuntu-L';}

.howtext{ width:82%;}

.videowrap{ width:100%; height:430px; margin:0 auto; margin-bottom:20px; position:relative;}
.videowrap img{ width:100%;}
.videowrap iframe{ width:100%; height:100%;}
.videowrap .textvideo{ font-size: 25px;
    position: absolute;
    /* top: 71%; */
    left: 24%;
    bottom: 8%;
    text-align: center;}

@media all and (max-width:800px){
#how_it_work h2{ font-size:18px; padding: 20% 0px 1% 0px;}	
#how_it_work h3{ font-size:30px;}
.howtext{ width:100%;}
#how_it_work p{ font-size:16px; line-height:22px; }
.videowrap{ /*height:350px;*/}
}

@media all and (max-width:480px){
	#how_it_work h2{ padding: 26% 0px 1% 0px;}
}

#portfolio{ width:100%; height:100%; background:url(../images/portfolio.jpg) no-repeat center; background-size:cover;}

@media all and ( max-width:1023px){
#portfolio{ height:auto;}
}
#portfolio h2{ font-size:22px; font-family: 'Conv_Ubuntu-B'; letter-spacing:3px; color:#00aebb; padding:8% 0px 2% 0px;}
#portfolio h3{ font-size:44px; color:#00aebb; font-family: 'Conv_Ubuntu-L'; margin-top:0px;  margin-bottom:22px;}
#portfolio p{ font-size:20px; line-height:30px; color:#333333; margin-bottom:30px; font-family: 'Conv_Ubuntu-R';}

@media all and (max-width:800px){
#portfolio h2{ font-size:18px; padding: 20% 0px 1% 0px;}	
#portfolio h3{ font-size:30px;}
#portfolio p{ font-size:16px; line-height:22px; }
}

@media all and (max-width:480px){
	#portfolio h2{ padding: 26% 0px 1% 0px;}
}


#portfolio .imgSilder{ width:100%;  margin:0 auto; margin-bottom:20px;}
#portfolio .imgSilder img {
	max-width: 100%;
	height: auto;
}

#portfolio .cycle-slideshow{ width:100%;}
#portfolio .cycle-slideshow img{ width:100%;}

#company{ width:100%; height:100%; background:url(../images/company.jpg) no-repeat center; background-size:cover;}
@media all and ( max-width:1023px){
#company{ height:auto;}
}
#company h2{ font-size:22px; font-family: 'Conv_Ubuntu-B'; letter-spacing:3px; color:#FFFFFF; padding:8% 0px 3% 0px;}
#company h3{ font-size:44px; color:#FFFFFF; font-family: 'Conv_Ubuntu-L'; margin-top:0px;  margin-bottom:35px;}
#company p{ font-size:20px; line-height:30px; color:#FFFFFF; margin-bottom:30px; font-family: 'Conv_Ubuntu-L';}

@media all and (max-width:800px){
#company h2{ font-size:18px; padding: 20% 0px 1% 0px;}	
#company h3{ font-size:30px;}
#company p{ font-size:16px; line-height:22px; }
}

@media all and (max-width:480px){
	#company h2{ padding: 26% 0px 1% 0px;}
}

#company .compwidth{ width:80%;}
.sup{ font-size:3vh;}
.margin_top{ margin-top:43px !important;}
.margin_left{ margin-left:100px;}

@media all and ( max-width:970px){
#company .compwidth{ width:auto;}
.margin_left{ margin-left:0px;}
}

#footer{ width:100%; height:100%; background:url(../images/footer.jpg) center repeat-y; background-size: contain; padding-top:75px; font-family: 'Conv_Ubuntu-L'; color:#FFFFFF; position:relative;}

@media all and ( max-width:1023px){
#footer{ height:auto;}
}

#footer h2{ font-size:46px; padding-top:25px;}
#footer p{ font-size:20px; line-height:30px; color:#FFFFFF; margin:30px 0px; font-family: 'Conv_Ubuntu-R';}

.form-group{ margin-bottom:15px;}
.form-control{ /*padding:20px 12px;*/ height:40px;}
.form-group button[type=submit]{
	background: #ef5b47;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 5px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	font-family: 'Conv_Ubuntu-B';
	border-color:#ef5b47;
	font-size:16px;
	margin-top:20px;
	}
.form-group button[type=submit]:hover{ background: #000000; transition: all 0.5s ease;}	

.address{ font-family: 'Conv_Ubuntu-L'; font-size:14px; color:#e2e2e2; margin-top:43%; line-height:21px;}
.address a{ color:rgba(255,255,255,1.00);}
.address a:hover{ color:#00aebb;}

@media all and (max-width:1200px){
.address{ margin-top:10px; margin-bottom:30px}
}

@media all and (max-width:800px){
#footer h2{ font-size:30px;}
#footer p{ font-size:16px; line-height:22px;}
.address{ margin-top:10px; margin-bottom:30px}
}

.color{ color:#00aebb;}
.list-unstyled li{ margin-bottom:8px;}
.list-unstyled li a{ color:#e2e2e2; font-size:14px; padding-bottom:2px;}
#footer h3{ font-size:14px; color:#00aebb; font-family: 'Conv_Ubuntu-R'; margin:0px; font-weight:bold; margin-top:34px; margin-bottom:5px;}
#footer span{font-family: 'Conv_Ubuntu-R'; font-weight:bold;}

 /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.social_media { margin-bottom:50px;}
.social_media ul.social{ margin:0px; padding:0px;} 
.social_media ul.social li{ float:left;}
.social_media ul.social li a{display:block;
    vertical-align: top;
    overflow: hidden;
    margin: 4px;
    width: 36px;
    height: 36px;
    font-size: 0;
    text-indent: -9999px; }
	
	
.social a.tw{
	 background:url(../images/social_media.png) no-repeat 0px top;
	}

.social a.tw:hover{
	 background:url(../images/social_media.png) no-repeat 0px bottom;
	  -webkit-transition: background 0.3s;
          transition: background 0.3s;
	}
	
.social a.fb{
	 background:url(../images/social_media.png) no-repeat  -55px top;
	}

.social a.fb:hover{
	 background:url(../images/social_media.png) no-repeat -55px bottom;
	  -webkit-transition: background 0.3s;
          transition: background 0.3s;
	}	
#footer .copyfooterwrap{ width:100%; position:absolute; bottom:0px;}	
#footer .copyfooter span{ font-weight:normal; padding:8px;}
#footer .copyfooter p{ text-align:center; font-size:11px; font-family: 'Conv_Ubuntu-R'; color:#CCC; margin:0 auto; margin-bottom:10px;}
#footer .copyfooter a{ color:#CCC;}	


/* XXXXXXXXXXXXXXXXXXXXXXXXXXX */
.navbar{ background-color:inherit; border-radius: 0; border-color:transparent;}
.navbar-default .navbar-nav>li>a{ color:#FFFFFF; transition: all 0.5s ease;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{ color:#00aebb; background-color:inherit; transition: all 0.5s ease; font-weight:bold;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #00aebb;
	background-color: transparent
	transition: all 0.5s ease;
}

.nav>li>a{ padding: 4px 40px; font-size:16px;}
@media all and ( max-width:993px){
	.nav>li>a{ padding: 4px 18px;}
}
.navbar-center{ width:800px; margin:0 auto; float:right; margin-top:40px;}
@media all and ( max-width:993px){
	.navbar-center{ width:auto;}
}
.navbar-brand {height: 85px;}
@media all and ( max-width:767px){
	.navigation_wrap a.requestDemo{ background:inherit; padding:10px 20px; border:none;}
	.herder .login_wrap{ top:9px; right:0px;}
	.navbar{ background-color:rgba(0,0,0,0.75)}
	.navbar-center{ width:auto; margin-top:0px; float:none;}
	.nav>li>a{     padding: 10px 16px;font-size:16px;}
	.navbar-toggle{ margin-top:55px; margin-right:12px; padding:inherit;}
	.navbar-toggle:hover{ background-color:rgba(0,0,0,1.00) !important; transition: all 0.5s ease;}
	}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	   background-color:inherit; 
	}	
	
/* XXXXXXXXX PRIVACY XXXXXXXXXXXXX */

#privacy_wrap{ width:100%;}	
#privacy_wrap h2{ font-size:22px; font-family: 'Conv_Ubuntu-B'; letter-spacing:3px; color:#00aebb; padding:8% 0px 2% 0px;}

@media all and (max-width:480px){
#privacy_wrap h2{ padding: 26% 0px 1% 0px;}
}

#privacy_wrap p{font-size: 14px;
    line-height: 20px;
    font-family: 'Conv_Ubuntu-R';}
#privacy_wrap .question{ color:#00aebb; font-size:15px;}
	
#privacy_wrap .privacytable{ width:100%; font-size: 14px; line-height: 20px; 
    font-family: 'Conv_Ubuntu-R';}	
#privacy_wrap .privacytable ul li{ margin-bottom:15px;}

.comodo_Logo{ margin-bottom:10px; width:100px; float:left; margin-left:30px;}