%iframe{:allowtransparency => "true", :frameborder => "0", :height => "529", :scrolling => "no", :src => "https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2F988514557904784%2Fposts%2F1102669676489271&width=500&show_text=true&appId=303479416692337&height=529", :style => "border:none;overflow:hidden", :width => "500"}
