#my-posts
	= render :partial =>"social_feeds", :locals => {:social_feeds => @social_feeds}
#feed_data_social
	= link_to "Load More", "javascript:void(0);",:class => "load_products"
#social_event_id{:for => params[:event_id].to_i}