%form.ng-pristine.ng-valid{:action => "#"}
  .mdl-grid
    = show_field("Question:", obj.question)
    = show_field("Answer :", obj.answer)
  .m-l-18
    .mdl-cell--12-col.mdl-cell--12-col-tablet
      = back_button_detailed_page(:back)