- if params[:conversations_wall].present?
  = render :partial => 'conversation_wall', :locals => {:@conversations => @conversations}
- else
  = render :partial => 'admin/layouts/index_header', :locals => {:objs => @conversations}
  = render :partial => 'admin/layouts/more_links'