= render :partial => 'layouts/layout_form', :locals => {:page => 'New Microsite'}# if @microsite.flag == "0"
= render :partial => 'layouts/layout_form', :locals => {:page => 'Edit Microsite'}# if @microsite.flag != "0"
