/ - binding.pry
/ - if @microsites.default_template.present?
/ 	- if @microsites.default_template == "Template 1"
/ 		= render :partial => "template_1"
/ 	- elsif @microsites.default_template == "Template 2"
/ 		= render :partial => "template_2"
/ 	- else
/ 		= render :partial => "template_3"