.save_button.mdl-card.mdl-shadow--1dp.agendaheight.p-b-10 
  %form.ng-pristine.ng-valid{:action => "#"}
    .mdl-grid
      .mdl-cell--12-col.mdl-cell--12-col-tablet.ml-color--shades-white.m-8
        %h4.heading-border.p-t-10
          = show_field_newQuestion(" ", obj.title)