= render :partial => "layouts/show_header", :locals => {:obj => @feedback_form, :title => "Managed Feedback Form "}
/ = render :partial => 'admin/layouts/more_links', :locals => {:show_history => "true"}
    