.page-header
.AddUserForm
  = form_for @role, :url => params[:action] == "new" || params[:action] == "create" ? admin_roles_path : admin_role_path do |f|
    .row
      .input-field.col.s12
        = f.text_field :name
        %label{:for => "name"} Name
    
    .row.txtcenter.submitBtn
      %button.waves-effect.waves-light.btn{:href => "javascript:void(0);"} SUBMIT


  
