= render :partial => 'layouts/layout_form', :locals => {:page => 'New Invitee'}
- if !params[:import].present?
  = render :partial => 'admin/layouts/more_links', :locals => {:show_history => "false"}
