= render :partial => "layouts/show_header", :locals => {:obj => @invitee, :title => @invitee.name_of_the_invitee}
/ = render :partial => 'admin/layouts/more_links', :locals => {:show_history => "true"}
