%link{:href => "/assets/bootstrap.min.css", :rel => "stylesheet"}/
%link{:href => "/assets/rwd-table.min.css", :rel => "stylesheet"}/

-if !objs.present? and params[:admin_search].present?
  .mdl-typography--text-center.BlnkTxt.p-t-10
    = get_search_data("invitee_structures")
- else  
  .table-responsive{"data-pattern" => "priority-columns"}
    %table.table.table-small-font.table-bordered.table-striped.mdl-data-table{"template-pagination" => "custom/pager"}
      %thead
        %tr
          - @invitee_structure.get_database_columns.each_with_index do |column, index|
            %th{"data-priority" => "1"}
              = column
      %tbody
        - database_columns = @invitee_structure.get_selected_column
        - objs.each_with_index do |grouping,index|
          %tr
            - grouping_attrs = grouping.attributes
            - database_columns.each do |attrr|
              %td
                = grouping_attrs[attrr]
  = will_paginate objs
:javascript
  $(function() {
    $('.table-responsive').responsiveTable({
      addFocusBtn : false
    });
   });

%script{:src => "/assets/rwd-table.js", :type => "text/javascript"}
%script{:src => "/assets/bootstrap.js", :type => "text/javascript"}


