- if image_name.class == Hash and (path rescue nil)
  - image_name.each do |image|
    %a.txtcenter.m-b-30{:href => "/whats_this/#{path}/#{image[1]}", :class => "fancybox", :rel => section_id, :title => image[0], :alt => image[0]}