!!!
%html
  %head
    %title Hobnob
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag "scanner"
    = javascript_include_tag "scanner"
    = csrf_meta_tags
  = yield