= render :partial => 'layouts/layout_form', :locals => {:page => 'Edit Panel'}

:javascript 
  $("#selected_type").val("speaker")
  / $('#selected_speaker').val("#{@panel.panel_id}")
  $("#selected_type").change(function() {
    type = $("#selected_type").val();
    if (type == "invitee"){
      $('#selected_invitee').parent().parent().css("display","block");
      $('#selected_speaker').parent().parent().css("display","none");
    }
    else{
      $('#selected_invitee').parent().parent().css("display","none");
      $("#selected_speaker").parent().parent().css("display","block");
    }
  });