body{margin:0; padding:0;  font-family: 'Roboto';}
.container{width:100%; margin: 0 auto;}
.logo{visibility:hidden;}
ul.tabs{margin: 0px;	padding:0px;	list-style:none;}
ul.tabs li{background:#00b1bb; color:#fff;	display:inline-block; padding:10px 4%;	cursor:pointer; font-size:18px;}
ul.tabs li.current{background:#516161;	color:#fff;}
.tab-content{display: none;	background: #ededed;	padding: 15px; border:1px solid #cccccc;}
.tab-content.current{display: inherit;}
.wrapper{padding: 0 0 2% 0;}
.table-grid-foot{background:#999999; color:#fff; margin: 18px 0 0;}
.pagenav a{color:#fff;}
#searchFrm{margin:10px 0;}
#searchFrm div{display:inline-block;}
/*#searchFrm .tab1-searchDiv{margin-right:10px;}*/
#searchFrm .tab1-selectDiv{margin:0px 10px;}
#searchFrm .tab1-searchBtn{margin:0px 5px;}
.table-grid th{background:#00b1bb; padding:5px 0 5px 8px; color:#fff; font-weight:normal; text-align:left;}
.tableHeading {background:#00b1bb;}
.tbl-border {border: 1px solid; padding: 2px;}
.table-grid {border-collapse: collapse;}
.table-grid td {font-size: 14px; padding: 8px 0 8px 8px; text-align:left;}
.footerLogo{margin:0 auto; text-align:center;}
.footerLogo  p:first-child{margin:0;}
.footerLogo  p{margin:2px 0;}
#successMsg table tr td:nth-child(2){padding-left:45px;}
.onsiteForm input{width:280px;}
.onsiteForm{padding-left:28px;}
#tab-4 span{color:#D8000C; margin-left:3px; font-size:18px;}
.onsiteForm input{padding:5px 12px;}
.tab4Btn{padding:15px 0 0 0;}
.tab4Btn input{border:0 none; background:#00b1bb; color:#fff; padding:5px 15px; font-size:15px; cursor:pointer;}
.tab4Btn input:first-child{margin-right:13px;}
input:focus::-webkit-input-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
footer{position:fixed; left:0; right:0; margin:0 auto; background:#fff; bottom:0;}
.table-grid th{background:#00b1bb; padding:5px 0 5px 8px; color:#fff; font-weight:normal; text-align:left;}
.tab4-table td{padding-bottom: 15px; display:inline-block; vertical-align:top;}
.tab4-table tr td:first-child{width:115px;}
.tab4-table tr.formbutton td:first-child{width:auto;}
#tab-4 .tab4-table span.error{display:block; font-size:13px; margin-top: 5px;}
#tab-4  span.success-error{color:#4F8A10; font-size:16px;}
#tab-4 .tab4-table{margin-top:10px;}
#scorecard tr{line-height:30px;}

/*tab 5 -qr code scanner */

.description {margin:5% 0 3% 0; padding:20px; text-align:center;}
.description p {line-height: 30px;}
.welcomeText {font-size:45px;}
.subText {font-size:19px; margin-top:52px;}
.scanbtn .linkBtn {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor:pointer; display:inline-block; font-size:18px; letter-spacing:2px;
    padding:4px 0; text-decoration:none; text-transform:uppercase; width:210px;}
.linkBtn {background-color:#00b1bb; border:0 none; color:#ffffff; text-decoration:none;}
.scanbtn {margin:0 auto 4% auto; text-align:center;}
#qr-canvas{display:none;}
#tab-5{padding-bottom:150px;}
.searchManuallyBtn{text-align: center;}
.thanktest {font-size: 40px;}
.wrapper.thankYouWrapper .tableDiv {padding: 22px 0;}
.tableDiv table {width: 80%; margin: 0 auto; background: #f2f2f2; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
    border-collapse:collapse; text-align:center;}
.btnDiv.thankyouPage {padding: 7% 0 2% 0; margin:0 auto; text-align: center;}
.searchManuallyDiv{text-align: center;}
.btnDiv .linkBtn {width: 10%; padding: 10px 10px; text-transform: capitalize; border: 0 none;
    margin: 0 15px 0 0; cursor: pointer; font-size: 17px;}
.btnDiv .linkBtn:last-child {margin: 0;}
.searchManuallyDiv a {font-size: 15px;}
.tableDiv table tr th {background-color: #00b1bb; text-align: center;}
.tableDiv tr th {font-weight: bold;}
.tableDiv table th {padding: 10px 0; background: #ccc; color: #fff;}
.tableDiv tr td {padding: 10px 0;}
.tableDiv td, .tableDiv th {border: 1px solid #a4a2a2; color: #000;}
.thankyou-text{margin-top:5%; margin-bottom: 5%; }
.newScanBtn{margin: 3% auto; text-align: center;}
#search_keyword{border: 1px solid #808080; padding: 5px; width: 350px;}
.tab1-searchBtn input[type="submit"]{border-radius:0; border: 1px solid #808080; padding: 5px;  background: #fff;}
.tab1-searchDiv .searchText{font-size:17px;}
#searchFrm{position:relative;}
.searchDiv.tab3{position:relative;}
.back{position:absolute; right:5px; top:6px; font-size: 15px;}
.back {background:#00b1bb; border:0 none; font-size:15px; padding:0 12px; position:absolute;
    right:5px; top:0;}
.back a{color: #fff;}
#email{border: 1px solid #808080; padding: 5px; width: 350px; margin-right:5px;}
.submitBtn{border-radius:0; border: 1px solid #808080; padding: 5px;  background: #fff;}
.tab1-searchDiv .searchText{font-size:17px;}
.qrcodetextDiv form{position:relative;}
.qrcodetextDiv .back{background:#00b1bb; border:0 none; font-size:15px; padding:0 12px; position:absolute;
    right:5px; top:0;}
.qrcodetextDiv .back a{color: #fff;}
.qrcodetextDiv span{font-size:17px; margin-right:5px;}
#tab-3 #searchFrm{display: inline-block;}
#tab-3 .excelDownload{display:inline-block;}
#tab-3 .table-grid{margin-top:15px;}
#tab-3 .excelDownload {display: inline-block; float: right; margin-right: 77px;}

.checkboxDiv{display:inline-block; vertical-align:top; position:relative;}
.checkboxDiv label {display:inline-block; line-height:23px; vertical-align:top; color: #626262; margin-right:12px;}
.checkboxDiv input{display:inline-block;}
.fieldDiv p{color:#626262; }
.checkboxDiv input{margin-right:2px; display: inline-block; vertical-align: top; cursor:pointer;}
.checkboxDiv span.checkbox{display:inline-block; vertical-align: top;}
.checkboxDiv input[type="checkbox"] + .checkbox {border-color: #01579b;}
.checkboxDiv input[type="checkbox"] { opacity: 0; position: absolute; margin-left: -30px; z-index:9; width:21px;}

.checkboxDiv input[type="checkbox"] + .checkbox:before {
    background-color: #000000;
    border-radius: 50%;
    content: " ";
    height: 2px;
    left: 50%;
    margin-left: -1px;
    margin-top: -1px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.1s ease 0s;
    width: 2px;
}
.checkboxDiv input[type="checkbox"] + .checkbox:after {
    animation: 0.2s ease 0s normal none 1 checkbox-marker-off;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: " ";
    cursor: pointer;
    height: 8px;
    left: 50%;
    margin-left: -7px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 14px;
}
.checkboxDiv label{padding-left:25px;} 

.checkboxDiv input[type="checkbox"] + .checkbox {
    animation: 0.25s ease 0s normal none 1 checkbox-bg-off;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    content: " ";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    left: 0;
    margin-left: 0;
    margin-top: 2px;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 20px;
}
.checkboxDiv .checkbox {
    padding-top: 0;
}
.checkboxDiv .checkbox {
    min-height: 20px;
}
.checkboxDiv input[type="checkbox"]:checked:focus + .checkbox:before {
    background-color: #4db16a;
    opacity: 0.2;
}
.checkboxDiv input[type="checkbox"]:focus + .checkbox:before {
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0.08;
    width: 50px;
}
.checkboxDiv input[type="checkbox"]:checked + .checkbox {
    animation: 0.1s ease 0s normal none 1 checkbox-bg-on;
    border-width: 10px;
}
.checkboxDiv input[type="checkbox"]:checked + .checkbox:after {
    animation: 0.15s ease 0s normal none 1 checkbox-marker-on;
    border-color: #ffffff;
}

.fieldCheckbox{margin-top:15px;}

.thankYouWrapper{text-align:center;}
.editBadgeFormChkBox{padding: 0 12px;}
.editBadgeForm{  font-family: 'Ubuntu',sans-serif;}