body{margin:0; padding:0;  font-family: 'Roboto';}
.container{width: 90%; margin: 0 auto;}
.logo{visibility:hidden;}
ul.tabs{margin: 0px;	padding:0px;	list-style:none;}
ul.tabs li{background:#00b1bb; color:#fff;	display:inline-block; padding:10px 4%;	cursor:pointer; font-size:18px;}
ul.tabs li.current{background:#516161;	color:#fff;}
.tab-content{display: none;	background: #ededed;	padding: 15px; border:1px solid #cccccc;}
.tab-content.current{display: inherit;}
.wrapper{padding: 0 0 2% 0;}
.table-grid-foot{background:#999999; color:#fff; margin: 18px 0 0;}
.pagenav a{color:#fff;}
#searchFrm{margin:10px 0;}
#searchFrm div{display:inline-block;}
#searchFrm .tab1-searchDiv{margin-right:10px;}
#searchFrm .tab1-selectDiv{margin:0px 10px;}
#searchFrm .tab1-searchBtn{margin:0px 5px;}
.table-grid th{background:#00b1bb; padding:5px 0; color:#fff; font-weight:normal; text-align:center;}
.tableHeading {background:#00b1bb;}
.tbl-border {border: 1px solid; padding: 2px;}
.table-grid {border-collapse: collapse;}
.table-grid td {font-size: 14px; padding: 8px 0;}
.footerLogo{margin:0 auto; text-align:center;}
.footerLogo  p:first-child{margin:0;}
.footerLogo  p{margin:2px 0;}
#successMsg table tr td:nth-child(2){padding-left:45px;}
.onsiteForm input{width:280px;}
.onsiteForm{padding-left:28px;}
#tab-4 span{color:#D8000C; margin-left:3px; font-size:18px;}
.onsiteForm input{padding:5px 12px;}
.tab4Btn{padding:15px 0 0 0;}
.tab4Btn input{border:0 none; background:#00b1bb; color:#fff; padding:5px 15px; font-size:15px; cursor:pointer;}
.tab4Btn input:first-child{margin-right:13px;}
input:focus::-webkit-input-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
footer{position:fixed; left:0; right:0; margin:0 auto; background:#fff; bottom:0;}
.table-grid th{background:#00b1bb; padding:5px 0; color:#fff; font-weight:normal; text-align:center;}
.tab4-table td{padding-bottom: 15px;}
#tab-4 .tab4-table span.error{display:block; font-size:13px; margin-top: 5px;}
#tab-4  span.success-error{color:#4F8A10; font-size:16px;}
#tab-4 .tab4-table{margin-top:10px;}
#scorecard tr{line-height:30px;}