.fixed-action-btn
  %a.btn-floating.btn-large.neweditbtn.red
    %i.large.material-icons edit
  %ul
    %li
      %a.btn-floating.yellow.eventbtnHover{:href => "javascript:void(0);"}
        %i.material-icons events
    %li
      %a.btn-floating.green{:href => "javascript:void(0);"}
        %i.material-icons verified_user
    %li
      %a.btn-floating.blue{:href => "javascript:void(0);"}
        %i.material-icons view_agenda