%form.ng-pristine.ng-valid{:action => "#"}
  .mdl-grid
    = show_field("Category :", obj.title)
    = show_field("Description :", obj.description)
  .m-l-18
    .mdl-cell--12-col.mdl-cell--12-col-tablet
      = back_button_detailed_page(:back)